.footer {
  background-color: #333;
  color: #fff;
  padding: 1.4em;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin-top: 20px;
  font-size: 1.8rem;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 40px;
  margin-left: 10px;
}
.logo-footer {
  width: 100%;
}

.logo-site {
  margin-top: 10px;
  width: 85px;
}
