@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "arial";
  letter-spacing: 2px;
  box-sizing: border-box;
}

main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.carousel .overlay {
  width: 80%;
  height: 60%;
  overflow: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  text-align: left;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.carousel:hover .overlay {
  display: block;
}
.carousel .thumb {
  margin: 0 50px;
  height: 100px;
}
.carousel .thumbs-wrapper {
  position: absolute;
  margin-top: -200px;
}

.carousel img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (min-width: 400px) {
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(100, 97, 105, 0.989);
    border-radius: 20px;
  }

  .carousel img {
    height: 45em;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

#MoodContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#DEPART {
  grid-area: 1 / 1 / 3 / 3;
}
#Quebec {
  grid-area: 1 / 3 / 4 / 5;
}
#Montréal {
  grid-area: 1 / 5 / 3 / 7;
}
#Ottawa {
  grid-area: 1 / 7 / 3 / 9;
}
#Toronto {
  grid-area: 3 / 1 / 6 / 3;
}
#Thunder-Bay {
  grid-area: 4 / 3 / 6 / 5;
}
#Winnipeg {
  grid-area: 3 / 5 / 6 / 7;
}
#RETOUR {
  grid-area: 3 / 7 / 6 / 9;
}
